*,
::after,
::before {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  font-family: Poppins, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #444;
  text-align: left;
  background-color: #fff;
}

a {
  color: #00c2ff;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #00a3ff;
  text-decoration: none;
}

button {
  border-radius: 0;
  border: none;
  margin: 0;
}

h1,
h3,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

.bg-primary {
  background-color: #00c2ff !important;
}

a.bg-primary:focus,
a.bg-primary:hover,
button.bg-primary:focus,
button.bg-primary:hover {
  background-color: #00a3ff !important;
}

#base .text-primary {
  color: #00c2ff !important;
}

a.text-primary:focus,
a.text-primary:hover {
  color: #f53900 !important;
}

.text-secondary {
  color: #6c757d !important;
}

a.text-secondary:focus,
a.text-secondary:hover {
  color: #494f54 !important;
}

.text-light {
  color: #f8f9fa !important;
}

p {
  opacity: 0.8;
  line-height: 1.5;
}

@media (min-width: 992px) {
  p {
    font-size: 16px;
  }
}

.media img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.navbar {
  -webkit-transition: all, 0.3s;
  transition: all, 0.3s;
}

@media (prefers-reduced-motion: reduce) {
  .navbar {
    -webkit-transition: none;
    transition: none;
  }
}

.navbar.navbar-light .navbar-brand {
  color: #1b1b1b;
}

.navbar .navbar-brand img {
  width: 50px;
}

.navbar .nav-link {
  font-size: 13px;
  font-weight: 600;
}

.navbar.custom-navbar {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.navbar.custom-navbar .nav-link {
  color: #fff;
  margin: 0 6px;
}

.navbar.custom-navbar .nav-link:hover {
  color: #fff;
}

.navbar.custom-navbar.affix-top .nav-link {
  color: #dee2e6;
  font-size: 16px;
}

.navbar.custom-navbar.affix {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  background: #fff;
  border-bottom: 1px solid #dee2e6;
}

.navbar.custom-navbar.affix .nav-link {
  color: #444;
  font-size: 16px;
}

.navbar.custom-navbar.affix .nav-link:hover {
  color: #00c2ff;
}

.navbar-light .navbar-nav .nav-link.active {
  color: #00c2ff !important;
}

::-webkit-scrollbar {
  width: 7px;
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #00a3ff;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #00c2ff;
}

.header {
  position: relative;
  height: 100vh;
  min-height: 500px;
  background: url(../media/header.jpg) no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
}

.header .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.header .overlay .subtitle {
  font-size: calc(13px + (18 - 13) * ((100vw - 320px) / (1200 - 320)));
  font-weight: 400;
  margin-bottom: 0;
  letter-spacing: 8px;
  word-spacing: 10px;
  text-align: center;
  opacity: 0.8;
}

.header .overlay .title {
  font-size: calc(30px + (70 - 30) * ((100vw - 320px) / (1200 - 320)));
  font-weight: 700;
}

.header .shape svg {
  position: absolute;
  bottom: -28px;
  left: 0;
  width: 100%;
  z-index: 9;
}

.header .shape svg path {
  fill: #fff;
}

@media (max-width: 1199.98px) {
  .header .shape svg {
    bottom: -15px;
  }
}

@media (max-width: 767.98px) {
  .header .shape svg {
    bottom: 0;
  }
}

.header-title {
  font-size: 2.4rem;
  font-weight: 700;
  opacity: 0.8;
  color: #444;
}

.section {
  padding: 80px 0;
}

.section:nth-child(even) {
  background: #f5fafe;
}

.section.py-sm {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}

.section .section-subtitle {
  font-size: calc(13px + (13 - 13) * ((100vw - 320px) / (1200 - 320)));
  font-weight: 500;
  margin-bottom: 0;
  opacity: 0.9;
}

.section .section-title {
  font-size: calc(20px + (30 - 20) * ((100vw - 320px) / (1200 - 320)));
  padding-bottom: 7px;
  font-weight: 600;
}

.section .section-secondary-title {
  font-size: 17px;
  opacity: 0.7;
  margin-bottom: 15px;
}

.section.has-overlay {
  position: relative;
}

.section.has-overlay * {
  position: static;
  z-index: 9;
}

.section.has-overlay:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.6);
  z-index: 1;
}

.section.has-img-bg {
  position: relative;
  background: url(../media/section.jpg) no-repeat center top fixed;
  background-size: cover;
  color: #fff;
}

.section.has-footer-img-bg {
  position: relative;
  background: url(../media/header.jpg) no-repeat center top fixed;
  background-size: cover;
  color: #fff;
}

.section.has-img-bg *,
.section.has-footer-img-bg * {
  position: relative;
  z-index: 100;
}

.section.has-img-bg:after,
.section.has-footer-img-bg::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1;
}

.company-footer-content {
  display: flex;
  justify-content: space-between;
}

.name {
  font-weight: 800;
  color: #00c2ff;
}

@media only screen and (max-width: 600px) {
  .hidden {
    display: none;
  }
  .company-footer-content {
    flex-direction: column;
  }
  .company-footer-content .contact {
    margin-top: 10px;
  }
  .company-footer-content .whatsapp-chat a:nth-last-child(1) {
    border-left: none;
    margin: auto 0;
    padding: 0;
  }
  .company-footer-content .whatsapp-chat {
    flex-direction: column;
    align-items: flex-start;
  }
  .company-footer-content .contact {
    justify-content: flex-start;
  }
}

.card {
  height: 100%;
  cursor: pointer;
}

.card:hover {
  border: 1px solid #00c2ff;
  box-shadow: 0 0 11px #f5fafe;
}

.contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #f5fafe;
  font-weight: 400;
  cursor: pointer;
}

.wht-icon {
  color: #f5fafe;
  font-size: 20px !important;
  margin-right: 15px;
}

.contact h6,
.contact p {
  margin: 0;
}

.contact:hover {
  color: #00c2ff;
}
.contact:hover p {
  color: #f5fafe;
  opacity: 1;
  text-decoration: underline;
}

.container a:hover {
  text-decoration: none;
}

.container .form-control {
  height: 40px;
  line-height: 30px;
  border-width: 0 0 2px 0;
  font-size: 14px;
}

.container .form-control:focus {
  border-color: #00c2ff;
  box-shadow: none;
}

.container textarea.form-control {
  height: auto;
}

.send-query {
  background-color: #00a3ff;
  padding: 5px 35px;
  color: #f5fafe;
  border-radius: 16px;
  font-size: 16px;
}

.methodology {
  color: #00c2ff;
}

#methodology p {
  opacity: 1;
}
